#mapTable svg .legal, #mapTable .legal {
  fill: #abdda4;
  background: #abdda4;
}
#mapTable svg .banned, #mapTable .banned {
  fill: #fdae61;
  background: #fdae61;
}

#mapTable svg .limbo, #mapTable .limbo {
  fill: #cccccc;
  background: #cccccc;
}

#mapTable svg .bannedstrong, #mapTable .bannedstrong {
  fill: #f46d43;
  background: #f46d43;
}

