#mapTable svg .legal, #mapTable .legal {
  fill: #d9ef8b;
  background: #d9ef8b;
}
#mapTable svg .banned, #mapTable .banned {
  fill: #fee08b;
  background: #fee08b;
}

#mapTable svg .limbo, #mapTable .limbo {
  fill: #cccccc;
  background: #cccccc;
}
