table#mapTable  {
    table-layout:fixed;
    padding: 0;
    overflow: hidden;
	margin-left: 0;
	margin-right: 0;
    clear: both;
    border-collapse: separate;
}
#mapTable th {
    white-space: normal;
    overflow:hidden;
    position: relative;
	background-color: #EEEEEE;
	text-align: center;
	padding: 3px;
	width: 30%;
	font-size: .9em;
	border: 1px solid white;
}

#mapTable .state_name {
    font-weight: bold;
	width: 5%;
	padding: 0;
}

#mapTable p {
	display: block;
	line-height: 1.5em;
	margin: 0 auto;
	text-transform: none;
	font-weight: normal;
	padding: 3px;
	text-align: left;
	padding-left: 8px;
}

#mapTable svg .good path,
#mapTable .good, #mapTable svg path.good {
    background-color: #7AB317;
    fill: #7AB317;
}
#mapTable svg .kinda_good path,
#mapTable .kinda_good, #mapTable svg path.kinda_good {
    background-color: #CBE86B;
    fill: #CBE86B;
}
#mapTable .harsh, #mapTable svg path.harsh,
#mapTable svg .harsh path,
#mapTable .penalties {

}

#mapTable th {
    font-weight: bold;
	text-align: center;
	padding: 0;

}
#mapTable th img {
    position:relative;
    bottom: 0px;
}

#mapTable svg path {
    fill: #eeeeee;
}

#mapTable .svg_container {
    position: relative;
    padding-bottom: 62%;
    height: 0;
    overflow: hidden;
}
#mapTable .svg_container svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
#jump_to_state select {

    padding-left: .5em;
    font-size: 14px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 2.3em;
    -webkit-appearance: none;
    font-weight: bold;
    text-align: center;
    color: #333315;
    width: 11.4em;
	font-family: verdana;

}

#jump_to_state {
    background: #eeeeee;
    float: left;
    width: 12em;
    overflow: hidden;
    border: 2px solid #686868;
    margin-bottom: 1.5em;
}
*/

.inline_label {
    display:none;
}

th:nth-of-type(1) { 
    display:table-cell;
    width: 5%!Important;
}

#mapTable thead th {
    background: transparent;
}
@media only screen and (max-width: 480px) {

    #mapTable,
    tbody, 
    tr, 
    #mapTable td, 
    #mapTable th,
    #mapTable tbody.state_name,
    #mapTable td.good,
    #mapTable td.kinda_good,
    #mapTable td.not_good,
    #mapTable td.harsh,
    #mapTable td.penalties  { 
        display: block !important; 
        background:none;
        width: 83%!important;
        border:0;
    }

    table#mapTable {
        width: 26em !important;
    }

    #mapTable {
        table-layout: auto;
    }

    #mapTable .svg_container {
        padding-bottom: 0; 
    }

    #mapTable th {
		border: none;
		text-align: left;
		font-weight: normal;
		line-height: 1.5em;
		position: relative;
		padding: 5px!important;
		margin-bottom: 0px;
    }
    th:nth-of-type(1):before { content: "State: "; font-weight: bold; }
    th:nth-of-type(2):before { content: "Reduced Penalties? "; font-weight: bold; }
    th:nth-of-type(3):before { content: "Medicinal: "; font-weight: bold; }
    th:nth-of-type(4):before { content: "Recreational: "; font-weight: bold;}
	
	#mapTable .state_name {
	    text-transform:uppercase;;
	}

    #mapTable tr {
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    #mapTable svg .good path,
    #mapTable .good, #mapTable svg path.good {
    background-color: transparent;
        fill: transparent;
    }
    
    #mapTable svg .kinda_good path,
    #mapTable .kinda_good, #mapTable svg path.kinda_good {
        background-color: transparent;
        fill: transparent;
    }

    tr:nth-of-type(odd) { 
        background: #eee; 
    }

    #mapTable thead,
    #mapTable .mid_labels {
        display:none!important;
    }

    #mapTable p {
        padding: 0;
		margin: 0!important;
    }

    .inline_label {
        display: block;
    }
}
